@media (max-width: 510px) {
  :root {
    --inlineWidth: 320px;
  }

  .intro {
    width: 100vw;
  }

  .introWrapper {
    margin-top: 1.5rem;
    width: 80vw;
    max-width: 380px;
  }

  .fakeImage {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 110%;
    height: 300px;

    justify-self: center;
  }

  .fakeImage img {
    object-fit: cover;
    max-width: 100%;
    height: 310px;
  }

  .fakeImage h1 {
    position: absolute;
    margin-top: -80px;
    margin-left: 80px;
    color: white;
  }

  .aboutMeWrapper h2 {
    text-align: center;
  }

  .aboutMeWrapper h1 {
    visibility: hidden;
  }

  .work {
    align-items: center;
    text-align: center;
  }

  .project {
    width: 75vw;
    max-width: 300px;
  }

  .project:nth-child(1) {
    margin-top: 0px;
  }

  .contactInformation {
    display: flex;
    flex-direction: column;
  }

  .contact.main h1 {
    justify-self: center;
  }

  .contact.main > h1,
  .contact.main > section {
    padding-inline: 2vw;
  }

  .footer.icons {
    justify-content: center;
    margin-bottom: 30px;
  }

  .footerFakeImage {
    height: 320px;
    width: 100vw;

    margin-top: 20px;
  }
}
