/* generic styles */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

:root {
  --themeColor: lightblue;

  --inlineWidth: ;
}

p {
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  word-spacing: 1.5px;
  line-height: 1.3;
}

/* header styles */

.intro {
  width: 100vw;

  display: flex;
  justify-content: center;

  background: rgb(129, 38, 0);
  background: linear-gradient(
    171deg,
    rgba(129, 38, 0, 0.9346332282913166) 37%,
    rgba(255, 255, 255, 1) 66%
  );
}

.introWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
}

.fakeImage {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.aboutMeWrapper {
  padding-inline: 10px;

  font-size: 18px;
  font-weight: 100;
}

.aboutMeWrapper h2 {
  font-size: 46px;
  font-weight: 100;
}

.header.icons {
  align-self: flex-end;

  gap: 10px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.header.icons > img {
  height: 30px;
  width: 30px;
  padding: 5px;
}

/* project styles */

.work {
  display: flex;
  flex-direction: column;

  margin-bottom: 100px;
}

.workTitle h2 {
  color: black;

  font-size: 42px;
  font-weight: 100;
}

.projectsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

  height: 370px;
  min-height: fit-content;

  margin: 10px;

  text-align: center;
}

.project h2 {
  color: white;

  font-size: 36px;
  font-weight: 100;
}

.proj.name h4 {
  color: black;
}

.project:nth-child(1),
.project:nth-child(2),
.project:nth-child(3),
.project:nth-child(4),
.project:nth-child(5),
.project:nth-child(6) {
  margin-top: 20px;
}

.project .proj.image {
  height: 200px;

  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.project[data-item="0"] .proj.image {
  background-color: burlywood;
}

.project[data-item="1"] .proj.image {
  background-color: cornflowerblue;
}

.project[data-item="2"] .proj.image {
  background-color: darkcyan;
}

.project[data-item="3"] .proj.image {
  background-color: bisque;
}

.project[data-item="4"] .proj.image {
  background-color: darkkhaki;
}

.project[data-item="5"] .proj.image {
  background-color: cadetblue;
}

.proj.wrapper {
  border-radius: 10px;

  padding-inline: 20px;
}

.proj.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;

  padding: 10px;
}

.proj.description {
  text-align: start;
  font-size: 18px;
}

.proj.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.proj.icons img {
  height: 20px;
  width: 20px;
}

footer {
  background-color: brown;
}

footer p,
h1,
h2,
h3,
h4,
h5 {
  color: white;
  font-weight: 100;
}

footer h1 {
  font-size: 36px;
}

footer h5 {
  font-size: 18px;
  font-weight: 200;
}

footer p {
  font-size: 16px;
}

.contact.main section {
  margin-top: 40px;
}

.contact.main h1 {
  margin-bottom: -20px;
}

.contact.main p {
  margin-top: -17px;
}

.footer.icons {
  display: flex;
  gap: 10px;
}

.footer.icons > img {
  height: 30px;
  width: 30px;
}
